{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Registration Form</h1>
    <form id="registrationForm" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <textarea class="demoClass" hidden="true"></textarea>
        <div id="usernameError" class="error"></div>
        <div id="emailError" class="error"></div>
        <div id="confirmPasswordError" class="error"></div>
        
        <button type="submit" id="registerButton" disabled>Register</button>
    </form>

    <script src="{% static 'js/register_utils.js' %}"></script>
</body>
</html>
